{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Wash Lomas Laser</title>
    {% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <style>
        .signature-pad {
            border: 1px solid #000;
            border-radius: 4px;
            background-color: #fff;
        }
    </style>
    {% endblock %}
</head>

<body>
    {% block contenido %}
    <h3>Ingresar Vehículo</h3>
    <div class="row">
        <div class="col-10 col-md-8 offset-md-3">
            <form action="" method="POST">
                {% csrf_token %}

                <h3>Patente</h3>
                <div class="form-group">
                    <input type="text" name="patente" id="patente" class="form-control" placeholder="Ej: BTPY40"
                        value="{{ form.patente.value }}">
                </div>

                <h3>Vehículo</h3>
                <div class="form-group">
                    {{ form.vehiculo }}
                </div>

                <h3>Tipo de Lavado</h3>
                <div class="form-group">
                    {{ form.lavado }}
                </div>

                <h3>Tipo de Pago</h3>
                <div class="form-group">
                    {{ form.tipo_de_pago }}
                </div>

                <h3>Tipo de Documento</h3>
                <div class="form-group">
                    {{ form.tipo_doc }}
                </div>

                <div id="rut-field" style="display: none;">
                    <h3>RUT</h3>
                    <div class="form-group">
                        {{ form.Rut }}
                    </div>
                </div>

                <h3>Valor</h3>
                <div class="form-group">
                    {{ form.valor }}
                </div>

                <h3>Propina</h3>
                <div class="form-group">
                    {{ form.propina }}
                </div>

                <h3>Contacto Telefónico</h3>
                <div class="form-group">
                    {{ form.contacto }}
                </div>

                <h3>Declaración del Cliente</h3>
                <p>
                    El cliente manifiesta que no tiene nada importante y/o de valor dentro de su vehículo, liberando a
                    "Carwash Lomas Laser" de cualquier responsabilidad futura. Además, no nos hacemos responsables por
                    rayas existentes en el vehículo, las cuales se hacen visibles con el lavado.
                </p>

                <h3>Cliente Acepta</h3>
                <div class="form-group">
                    <label>
                        <input type="radio" name="cliente_acepta" value="True" required {% if form.cliente_acepta.value %}checked{% endif %} /> Sí
                    </label>
                    <label>
                        <input type="radio" name="cliente_acepta" value="False" required {% if not form.cliente_acepta.value %}checked{% endif %} /> No
                    </label>
                </div>
                
                <h3>Firma Electrónica</h3>
                <div class="form-group">
                    <div id="signature-pad" class="signature-pad">
                        <canvas id="signature-canvas" width="400" height="200"></canvas>
                    </div>
                    <br>
                    <br>
                    <button type="button" id="clear" class="btn btn-secondary">Limpiar</button>
                    <button type="button" id="save" class="btn btn-primary">Guardar Firma</button>
                    <input type="hidden" id="id_firma_electronica" name="firma_electronica"
                        value="{{ form.firma_electronica.value }}">
                </div>
                <br>
                <br>

                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}

                {% for field in form %}
                {% if field.errors %}
                <div class="alert alert-danger">
                    {% for error in field.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <div class="d-flex justify-content-end">
                    <input type="reset" value="Cancelar" class="btn btn-danger"> &nbsp;
                    <button type="submit" id="btnEnviar" style="background-color: forestgreen;"
                        class="btn btn-primary">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
    {% block js %}
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Auto-correct patente
            document.getElementById('patente')?.addEventListener('input', function () {
                var value = this.value.toUpperCase().replace(/[^A-Z0-9]/g, '');
                var formattedValue = value.match(/.{1,2}/g)?.join('-') || '';
                this.value = formattedValue;
            });

            // Auto-fill valor and propina
            var vehiculoField = document.querySelector('[name="vehiculo"]');
            var lavadoField = document.querySelector('[name="lavado"]');
            var valorField = document.querySelector('[name="valor"]');
            var propinaField = document.querySelector('[name="propina"]');

            function updateFields() {
                var vehiculo = vehiculoField?.value;
                var lavado = lavadoField?.value;
                var valor = 0;

                if (vehiculo === 'CITYCAR') {
                    valor = (lavado === 'EXPRESS') ? 9000 : 14000;
                } else if (vehiculo === 'SEDAN' || vehiculo === 'HATCHBACK') {
                    valor = (lavado === 'EXPRESS') ? 11000 : 17000;
                } else if (vehiculo === 'SUV') {
                    valor = (lavado === 'EXPRESS') ? 12000 : 18000;
                } else if (vehiculo === 'CAMIONETA') {
                    valor = (lavado === 'EXPRESS') ? 14000 : 19000;
                } else if (vehiculo === 'XL') {
                    valor = (lavado === 'EXPRESS') ? 17000 : 26000;
                }

                if (valorField) {
                    valorField.value = valor;
                }
                if (propinaField) {
                    propinaField.value = (valor * 0.1).toFixed(0);
                }
            }

            vehiculoField?.addEventListener('change', updateFields);
            lavadoField?.addEventListener('change', updateFields);

            // Show/Hide RUT field and set estado_factura based on type of document
            var tipoDocField = document.querySelector('[name="tipo_doc"]');
            var rutField = document.getElementById('rut-field');
            var estadoFacturaField = document.querySelector('[name="estado_factura"]');

            // Mostrar el campo RUT si el documento es Factura
            function manageRutVisibility() {
                if (tipoDocField?.value === 'FACTURA') {
                    rutField.style.display = 'block';
                } else {
                    rutField.style.display = 'none';
                }
            }

            // Asegurarse de que el campo RUT esté visible después de un error de validación
            if (tipoDocField?.value === 'FACTURA') {
                rutField.style.display = 'block';
            }

            tipoDocField?.addEventListener('change', function () {
                manageRutVisibility();
                if (this.value === 'FACTURA') {
                    if (estadoFacturaField) {
                        estadoFacturaField.value = 'POR EMITIR'; // Set default state for factura
                    }
                } else {
                    if (estadoFacturaField) {
                        estadoFacturaField.value = 'SIN FACTURA'; // Set default state for boleta
                    }
                }
            });

            // Mantener la visibilidad del campo RUT si hubo un error
            manageRutVisibility();

            // Formatear RUT automáticamente
            function formatRut(rut) {
                return rut.replace(/^(\d{1,2})(\d{3})(\d{3})([\dkK])$/, '$1.$2.$3-$4');
            }

            var rutInput = document.querySelector('[name="Rut"]');
            rutInput?.addEventListener('input', function () {
                this.value = formatRut(this.value.replace(/\D/g, ''));
            });

            // Signature Pad


        });
        document.addEventListener("DOMContentLoaded", function () {
            // Firma Electrónica
            var signaturePad = new SignaturePad(document.getElementById('signature-canvas'));
            var saveButton = document.getElementById('save');
            var clearButton = document.getElementById('clear');
            var signatureInput = document.getElementById('id_firma_electronica');

            saveButton?.addEventListener('click', function (event) {
                if (!signaturePad.isEmpty()) {
                    var dataURL = signaturePad.toDataURL();
                    signatureInput.value = dataURL;
                    if (!alert('Firma guardada correctamente')) {
                        event.preventDefault();
                    }
                } else {
                    alert('Por favor, firme en el recuadro.');
                    event.preventDefault();
                }
            });

            clearButton?.addEventListener('click', function () {
                signaturePad.clear();
                signatureInput.value = '';
            });

            // Restaurar firma si está disponible
            if (signatureInput.value) {
                var image = new Image();
                image.src = signatureInput.value;
                image.onload = function () {
                    signaturePad.fromDataURL(signatureInput.value);
                };
            }
        });


    </script>
    {% endblock %}
</body>
{% endblock %}

</html>